In [9]:
#Importing libraries
import pandas as pd
import numpy as np
import chart_studio.plotly as py
import plotly.graph_objs as go
import matplotlib.pyplot as plt
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

#Importing datasets
df_no_of_tourists=pd.read_csv("API_ST.INT.ARVL_DS2_en_csv_v2_10226141.csv",header=[2])
df_earning=pd.read_csv("API_ST.INT.RCPT.CD_DS2_en_csv_v2_10225013.csv",header=[2])
df_regional_stats=pd.read_csv("international-tourist-arrivals-by-world-region.csv",header=[0])


#Cleaning data
columns_to_drop = ['Indicator Name','Indicator Code','1960','1961','1962','1963','1964','1965','1966','1967','1968','1969','1970','1971','1972','1973','1974','1975','1976','1977','1978','1979','1980','1981','1982','1983','1984','1985','1986','1987','1988','1989','1990','1991','1992','1993','1994','2017']
df_no_of_tourists.drop(columns_to_drop, inplace=True, axis=1)

df_earning.drop(columns_to_drop, inplace=True, axis=1)

#remove null values
df_no_of_tourists = df_no_of_tourists.replace(np.nan, 0)
df_earning=df_earning.replace(np.nan, 0)

#delete rows that are not a country
rows_to_be_deleted = [5,34,59,60,61,62,63,66,71,72,93,96,100,101,102,103,108,126,132,133,134,137,138,140,151,154,159,168,179,181,189,195,196,202,213,215,216,228,229,234,236,238,239,
247,257]
df_no_of_tourists.drop(df_no_of_tourists.index[rows_to_be_deleted],inplace=True)
df_earning.drop(df_earning.index[rows_to_be_deleted],inplace=True)

#Select all columns with valid data
columns_to_plot = ['1995','1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016']

df_no_of_tourists = df_no_of_tourists.apply(pd.to_numeric, errors='ignore')
df_earning= df_earning.apply(pd.to_numeric, errors='ignore')

#Calculate the total arrivals per year
tourists_per_year = [df_no_of_tourists['1995'].sum(),df_no_of_tourists['1996'].sum(),df_no_of_tourists['1997'].sum(),df_no_of_tourists['1998'].sum(),df_no_of_tourists['1999'].sum(),df_no_of_tourists['2000'].sum(),df_no_of_tourists['2001'].sum(),df_no_of_tourists['2002'].sum(),df_no_of_tourists['2003'].sum(),df_no_of_tourists['2004'].sum(),df_no_of_tourists['2005'].sum(),df_no_of_tourists['2006'].sum(),df_no_of_tourists['2007'].sum(),df_no_of_tourists['2008'].sum(),df_no_of_tourists['2009'].sum(),df_no_of_tourists['2010'].sum(),df_no_of_tourists['2011'].sum(),df_no_of_tourists['2012'].sum(),df_no_of_tourists['2013'].sum(),df_no_of_tourists['2014'].sum(),df_no_of_tourists['2015'].sum(),df_no_of_tourists['2016'].sum()]

#Calculate total revenue generated through tourism per year
revenue_per_year = [df_earning['1995'].sum(),df_earning['1996'].sum(),df_earning['1997'].sum(),df_earning['1998'].sum(),df_earning['1999'].sum(),df_earning['2000'].sum(),df_earning['2001'].sum(),df_earning['2002'].sum(),df_earning['2003'].sum(),df_earning['2004'].sum(),df_earning['2005'].sum(),df_earning['2006'].sum(),df_earning['2007'].sum(),df_earning['2008'].sum(),df_earning['2009'].sum(),df_earning['2010'].sum(),df_earning['2011'].sum(),df_earning['2012'].sum(),df_earning['2013'].sum(),df_earning['2014'].sum(),df_earning['2015'].sum(),df_earning['2016'].sum()]

tourists_per_year = [round(x) for x in tourists_per_year]

In [10]:
df_no_of_tourists.head()

,Country Name,Country Code,1995,1996,1997,1998,1999,2000,2001,2002,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 62
0,Aruba,ABW,619000.0,641000.0,650000.0,647000.0,683000.0,721000.0,691000.0,643000.0,...,827000.0,813000.0,824000.0,869000.0,904000.0,979000.0,1072000.0,1225000.0,1102000.0,0.0
1,Afghanistan,AFG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Angola,AGO,9000.0,21000.0,45000.0,52000.0,45000.0,51000.0,67000.0,91000.0,...,294000.0,366000.0,425000.0,481000.0,528000.0,650000.0,595000.0,592000.0,397000.0,0.0
3,Albania,ALB,304000.0,287000.0,119000.0,184000.0,371000.0,317000.0,354000.0,470000.0,...,1247000.0,1711000.0,2191000.0,2469000.0,3156000.0,2857000.0,3341000.0,3784000.0,4070000.0,0.0
4,Andorra,AND,0.0,0.0,0.0,0.0,2347000.0,2949000.0,3516000.0,3387000.0,...,2059000.0,1830000.0,1808000.0,2242000.0,2238000.0,2328000.0,2363000.0,2663000.0,2831000.0,0.0

In [11]:
df_earning.head()

,Country Name,Country Code,1995,1996,1997,1998,1999,2000,2001,2002,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 62
0,Aruba,ABW,554000000.0,666000000.0,726000000.0,786000000.0,782000000.0,850000000.0,825000000.0,835000000.0,...,1.352000e+09,1.223000e+09,1.254000e+09,1.358000e+09,1.412000e+09,1.506000e+09,1.625000e+09,1.659000e+09,1.638000e+09,0.0
1,Afghanistan,AFG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.700000e+07,9.000000e+07,1.690000e+08,1.520000e+08,1.770000e+08,1.910000e+08,9.200000e+07,8.800000e+07,5.100000e+07,0.0
2,Angola,AGO,27000000.0,38000000.0,24000000.0,39000000.0,31000000.0,34000000.0,35000000.0,51000000.0,...,2.930000e+08,5.540000e+08,7.260000e+08,6.530000e+08,7.110000e+08,1.241000e+09,1.597000e+09,1.171000e+09,6.280000e+08,0.0
3,Albania,ALB,70000000.0,94000000.0,34000000.0,60000000.0,218000000.0,398000000.0,451000000.0,492000000.0,...,1.848000e+09,2.014000e+09,1.780000e+09,1.833000e+09,1.623000e+09,1.670000e+09,1.849000e+09,1.614000e+09,1.821000e+09,0.0
4,Andorra,AND,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0

In [13]:
#Plotting a multiple axis line chart to show evolution of tourism over the years
label_text='<b>International Tourism Statistics.'+ '<br>' + 'Number of arrivals and the revenue earned through tourism from 1995 to 2016 </b>'+ '<br>' + 'Source - https://data.worldbank.org/'
trace1 = go.Scatter(
     x=columns_to_plot,
    y = list(np.around(np.array(tourists_per_year),2)),
    name='Number of tourists per year'
)
trace2 = go.Scatter(
    x=columns_to_plot,
    y=revenue_per_year,
    name='Revenue earned per year',
    yaxis='y2'
)
data = [trace1, trace2]
layout = go.Layout(
    title=label_text,
    yaxis=dict(
        title='Number of arrivals (Billions)'
    ),
    yaxis2=dict(
        title='Tourism Revenue (Trillion USD)',
        
        
        overlaying='y',
        side='right'
    )
)
fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='multiple-axes-double.html')

In [14]:
#Preparing data for graph
df_test=df_regional_stats
df_test.drop('Code', inplace=True, axis=1)
df_africa=df_test[df_test['Entity'].str.contains('Africa')]
df_africa.reset_index(drop=True)
df_americas=df_test[df_test['Entity'].str.contains('Americas')]
df_americas.reset_index(drop=True)
df_asia_pacific=df_test[df_test['Entity'].str.contains('Asia & Pacific')]
df_asia_pacific.reset_index(drop=True)
df_europe=df_test[df_test['Entity'].str.contains('Europe')]
df_europe.reset_index(drop=True)
df_middle_east=df_test[df_test['Entity'].str.contains('Middle East')]
df_middle_east.reset_index(drop=True)


africa_list=df_africa[' (arrivals)'].where(df_africa['Entity'] == 'Africa').tolist()
americas_list=df_americas[' (arrivals)'].where(df_americas['Entity'] == 'Americas').tolist()
asia_pacific_list=df_asia_pacific[' (arrivals)'].where(df_asia_pacific['Entity'] == 'Asia & Pacific').tolist()
europe_list=df_europe[' (arrivals)'].where(df_europe['Entity'] == 'Europe').tolist()
middle_east_list=df_middle_east[' (arrivals)'].where(df_middle_east['Entity'] == 'Middle East').tolist()
year_list=df_test['Year'].where(df_test['Entity'] == 'Africa').tolist()

In [18]:
#Plotting scattered area chart to show the distribution of percentage of total number of arrivals by world region.
Africa = dict(
    x=year_list,
    y=africa_list,
    mode='lines',
    line=dict(width=0.5,
              color='rgb(204, 204, 255)'),
    stackgroup='one',
    groupnorm='percent',
    name='Africa'
)
America = dict(
    x=year_list,
    y=americas_list,
    mode='lines',
    line=dict(width=0.5,
              color='rgb(240, 31, 31)'),
    stackgroup='one',
    name='America'
)
AsiaPacific = dict(
    x=year_list,
    y=asia_pacific_list,
    mode='lines',
    line=dict(width=0.5,
              color='rgb(240, 240, 31)'),
    stackgroup='one',
    name='Asia and Pacific'
)
Europe = dict(
    x=year_list,
    y=europe_list,
    mode='lines',
    line=dict(width=0.5,
              color='rgb(33, 75, 174)'),
    stackgroup='one',
    name='Europe'
)
MiddleEast = dict(
    x=year_list,
    y=middle_east_list,
    mode='lines',
    line=dict(width=0.5,
              color='rgb(79,154,97)'),
    stackgroup='one',
    name='Middle East'
)

data = [Africa, America, AsiaPacific, Europe,MiddleEast]
layout = go.Layout(
    title='<b>International Tourist Arrivals By World Region</b>'+ '<br>Source : UNWTO Tourism Barometer, Volume 15 Advance Release January 2015',
    showlegend=True,
    xaxis=dict(
        type='linear',
        range=[1950, 2016],
        dtick=10,
    ),
    yaxis=dict(
        type='linear',
        range=[1, 100],
        dtick=20,
        ticksuffix='%'
    )
)
fig = dict(data=data, layout=layout)
py.iplot(fig, filename='stacked-area-plot-norm.html')

In [28]:
#Choropleth map with a slider to show the total number of tourists arrival and revenue earned by a country per year
df = df_no_of_tourists
df2=df_earning
# Read values of axes 
life_exp = df.iloc[:,-3]
revenue_earned= round(df2.iloc[:,-2]/1000000000,2)
df['text'] = df['Country Name'] + '<br>' +\
    'Total Revenue: '+ revenue_earned.astype(str) + " Bn USD"
# Define the data to be visualised and some of the parameters of the visualisation

csl = [
            [0, '#1E6963'],
            [0.3, '#29B2A7'],
            [0.5, '#29B2A7'],
            [0.7, '#50C6BF'],
            [0.85, '#64E0D8'],
            [1, '#B7FFFE']
        ]


data_1995 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,2],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 1995', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
            geo='geo1'
      ) 

data_1996 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,3],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 1996', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
        geo='geo1'

      ) 
data_1997 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,4],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 1997', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
        geo='geo1'

      ) 
data_1998 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,5],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 1998', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
        geo='geo1'

      )
data_1999 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,6],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 1999', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
        geo='geo1'

      ) 
data_2000 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,7],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 2000', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
        geo='geo1'

      )
data_2001 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,8],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 2001', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
        geo='geo1'

      ) 
data_2002 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,9],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 2002', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
        geo='geo1'

      )
data_2003 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,10],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 2003', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
        geo='geo1'

      ) 
data_2004 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,11],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 2004', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
        geo='geo1'

      ) 
data_2005 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,12],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 2005', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
        geo='geo1'

      )
data_2006 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,13],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 2006', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
        geo='geo1'

      ) 
data_2007 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,14],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 2007', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
        geo='geo1'

      ) 
data_2008 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,15],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 2008', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
        geo='geo1'

      ) 
data_2009 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,16],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 2009', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
        geo='geo1'

      ) 
data_2010 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,17],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 2010', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
        geo='geo1'

      )
data_2011 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,18],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 2011', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
        geo='geo1'

      )
data_2012 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,19],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 2012', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
        geo='geo1'

      )
data_2013 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,20],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 2013', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
        geo='geo1'

      )
data_2014 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,21],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 2014', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
        geo='geo1'

      ) 
data_2015 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,22],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 2015', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
        geo='geo1'

      )
data_2016 =  dict(
        type = 'choropleth',
        colorscale = 'Greens',
        reversescale=True,
        locations = df['Country Code'],
        z = df.iloc[:,23],
        text = df['text'],
 
        colorbar = dict(
            title = 'No of Tourists in 2016', 
            titlefont=dict(size=25),
            tickfont=dict(size=18)),
        geo='geo1'

      ) 

#  data for map
 
data = [ data_1995,data_1996,data_1997,data_1998,data_1999,data_2000,data_2001,data_2002,data_2003,data_2004,data_2005,data_2006,data_2007,data_2008,data_2009,data_2010,data_2011,data_2012,data_2013,data_2014,data_2015,data_2016]


# let's create the steps for the slider
steps = []
for i in range(len(data)):
    step = dict(method='restyle',
                args=['visible', [False] * len(data)],
                label='Year {}'.format(i + 1995))
    step['args'][1][i] = True
    steps.append(step)

sliders = [dict(active=0,
                pad={"t": 1},
                steps=steps)]    
layout = dict(geo=dict(scope='world',
                       projection={'type': 'winkel tripel'}),
              sliders=sliders)

fig = dict(data=data, 
           layout=layout)
py.iplot(fig)